services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build: ./x-maxxing-backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_HOST: db
      # Add other envs required for backend
    ports:
      - "3000:3000"
    volumes:
      - ./x-maxxing-backend:/app
    command: npm run start

  expo:
    build: ./X-Maxxing
    environment:
      EXPO_PUBLIC_XM_URL: http://localhost:3000
      EXPO_PUBLIC_XM_GEMINI_API_KEY: AIzaSyBdlA7wtHrA_leZauuUcvEC0rurKeIKwAQ
    ports:
      - "8081:8081"
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
    volumes:
      - ./X-Maxxing:/app
    command: npx expo start --tunnel

volumes:
  db_data: